<%- include ('../navbar/navbar') %>
<div class="profile">
    <img src="/avatar.png" alt="avatar" width = "120" height = "90">
    <p class="text-info">Hello, <%= username %></p>

</div>
<%- include ('../footer/footer') %>
