<%- include ('../navbar/navbar') %>
<div class="profile">
    <img id="avatar" src="../../images/avatar.jpg" alt="avatar" width="200" height="200">
    <p class="text-info large-centered"><%= username %></p>

</div>
<%- include ('../footer/footer') %>
