.form{
    width: 400px;
    margin-left: auto;
    margin-right:auto;
}
#main-content {
     padding-top: 50px;
}
#submit{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
#register-link{
    text-align: center;
}
#avatar{
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.large-centered{
    text-align: center;
    font-size: x-large;
}