<%- include ('../navbar/navbar') %>
<div>
    <% if (loggedIn !== null) { %>
         <p class="text-info">Welcome, <%= username %></p>
    <% } else { %>
         <p class="text-info">Welcome to the page</p>
    <% } %>
</div>
<%- include ('../footer/footer') %>
