<%- include ('../navbar/navbar') %>
<div>
    <% if (loggedIn !== null) { %>
         <p class="text-info large-centered">Welcome, <%= username %></p>
    <% } else { %>
         <!-- <p class="text-info large-centered">Welcome to NodeAuth</p> -->
         <img class="image-centered" src="../../images/welcome.jpg" alt="welcome">
    <% } %>
</div>
<%- include ('../footer/footer') %>
